__pycache__/
*.pyc
*.pyo
*.log
*.tmp
*.bak
10x10_3x3tag_2x5tag/
12x12_4x4tag/
12x13_3x3tag_5x5tag_1x13tag/
12x13_3x3tag_5x5tag_1x13tag_try2/
12x13_3x3tag_5x5tag_5x2tag/
12x13_4x4tag_7x7tag_2x8tag_1x13tag/
12x7_3x3tag/
13x12_4x4tag_7x7tag_2x8tag/
15x17_4x4tag_2x8tag/
15x17_4x4tag_2x8tag_try2/
17x10_4x4tag/
3x45_3x3tag/
46x27_4x4tag/
4x4_3x3tag_2x4tag_a/
4x4_3x3tag_2x4tag_b/
4x4_3x3tag_2x4tag_c/
4x4_3x3tag_2x4tag_d/
5x10_3x3tag_2x5tag/
5x5_3x3tag_1x5tag/
5x5_3x3tag_1x5tag_a/
5x5_3x3tag_1x5tag_b/
5x5_3x3tag_1x5tag_c/
5x5_3x3tag_1x5tag_d/
5x5_3x3tag_1x5tag_e/
5x5_3x3tag_1x5tag_f/
5x5_3x3tag_1x5tag_g/
5x5_3x3tag_1x5tag_h/
6x10_3x3tag_1x10tag_6x2tag/
6x10_3x3tag_1x10tag_6x2tag_bis/
6x10_3x3tag_1x10tag_6x2tag_final/
6x10_3x3tag_1x10tag_6x2tag_probe/
6x10_3x3tag_1x10tag_6x2tag_tris/
6x6_3x3tag_1x6tag_a/
6x6_3x3tag_1x6tag_b/
6x6_3x3tag_1x6tag_c/
6x6_3x3tag_1x6tag_d/
7x9_2x3tag/
7x9_2x3tag_try2/
8x5_4x4tag/
92x54_4x4tag/
9x5_3x3tag/
9x9_3x3tag_1x9tag_a/
9x9_3x3tag_1x9tag_b/
9x9_3x3tag_1x9tag_c/
9x9_3x3tag_1x9tag_d/
MULTI_TRACK_first_try/
MULTI_TRACK/
hydra_read_overlay.png
marker_board.png
marker_board_rotated90CLOCK.png
combined_markers.pdf
combined_markers_ART_vector.pdf
combined_markers_DIELINE_vector.pdf
accuracy_analysis.py
accuracy_analysis_increment.py
accuracy_analysis_plot.py
accuracy_rotation_analysis_increment_plot.py
accuracy_translation_analysis_increment_plot.py
OptimizationResults
old_scripts